[submodule "Style/Tex-upmethodology"]
	path = Style/Tex-upmethodology
	url = https://github.com/gallandarakhneorg/tex-upmethodology/
[submodule "Style/Tex-templates"]
	path = Style/Tex-templates
	url = https://github.com/gallandarakhneorg/tex-templates/
